* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-font: font-family: "Poppins", sans-serif;
  --secondary-font: font-family: "Roboto", sans-serif;
  --color-primary: #1d5d9b;
  --color-secondary: #75c2f6;
  --color-white-light: #f6f4eb;
  --color-white-lighter: #f6f4eb;
  --color-dark-blue: #021526;
  --color-blue-light: #8dd8ff;
  --color-yellow: #ffeb00;
  --color-yellow-light: #f9cb43;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

.header {
  background: var(--color-white-light);
}

.header-navigation {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation-logo {
  color: var(--color-primary);
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-navigation-logo img {
  width: 7rem;
}

.header-logo-link-wrapper {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.header-nav-list-item a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 700;
}

.header-cta-btn {
  text-decoration: none;
  list-style: none;
  background-color: var(--color-primary);
  color: var(--color-white-light);
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 5rem;
}

.menu-toggle-button {
  display: none;
}

@media screen and (max-width: 59.375em) {
  .header-navigation-logo {
    font-size: 1.2rem;
  }

  .header-nav-list-item a {
    font-size: 1.7rem;
  }

  .header-cta-btn {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 48.75em) {
  .header-navigation {
    align-items: flex-start;
    position: relative;
  }

  .header-nav {
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateX(500px);
    display: none;
  }

  .header-nav-list {
    flex-direction: column;
  }
  .menu-toggle-button {
    font-size: 3rem;
    color: var(--color-primary);
    display: flex;
    gap: 1rem;
  }
}

/* Hero section Stylings */
.hero-container {
  height: 85vh;
  display: flex;
  overflow: hidden;
}

.hero-content {
  padding: 2rem 3rem;
  width: 50%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-size: 5rem;
  color: var(--color-yellow);
  margin-bottom: 2rem;
}

.hero-content p {
  font-size: 2.5rem;
  font-family: var(--secondary-font);
  color: var(--color-yellow-light);
}

.hero-content a {
  margin-top: 4rem;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--color-white-light);
  background-color: var(--color-dark-blue);
  border-radius: 10rem;
}

.cta-button {
  padding: 1rem 2rem;
  transition: transform 0.3s ease-in-out;
}

.cta-button:hover {
  transform: scale(1.3);
}

.hero-image {
  width: 50%;
  height: 85vh;
  overflow: hidden;
  position: relative;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: transform 0.5s ease-in-out;
}

.hero-image:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 48.75em) {
  .hero-container {
    flex-direction: column;
    height: auto;
  }

  .hero-content,
  .hero-image {
    width: 100%;
    height: auto;
  }

  .hero-image img {
    height: auto;
  }

  .hero-image:hover img {
    transform: none;
  }

  .cta-button:hover {
    transform: none;
  }
}
/* End of Hero Section Stylings */

/* Listing nav-section stylings */
.listing-container {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.listing-nav {
  width: 80%;
  padding: 1rem 2rem;
  background-color: var(--color-secondary);
}

.listing-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.listing-nav-list a {
  text-decoration: none;
  background-color: var(--color-dark-blue);
  color: var(--color-white-light);
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 5rem;
  transition: color 0.5s ease;
}

.listing-nav-items a:hover {
  color: var(--color-secondary);
}

@media screen and (max-width: 1000px) {
  .listing-nav-list a {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 900px) {
  .listing-nav {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .listing-nav {
    padding: 0;
  }

  .listing-nav-list {
    gap: 2.5rem;
    justify-content: space-between;
  }
}

/* house-card-container stylings */
.house-card-container {
  padding: 2rem 2rem;
  background: var(--color-secondary);
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  flex-wrap: wrap;
}

.house-card-item {
  border-radius: 5rem;
  width: 40%;
  height: auto;
  background-color: var(--color-blue-light);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-card {
  padding: 0 2rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.property-card img {
  width: 45rem;
  height: 35rem;
  margin-bottom: 2rem;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.property-card:hover img {
  transform: scale(1.1);
}

.property-card h2 {
  border-radius: 5rem;
  background: var(--color-dark-blue);
  color: var(--color-white-light);
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.property-card p {
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 1180px) {
  .property-card {
    width: 350px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .property-card img {
    object-fit: cover;
  }

  .property-card h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  .property-card p {
    font-size: 1.6rem;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .house-card-item {
    width: 100%;
  }
}
/* End of listing nav-section stylings */

/* Contact form styling */
.contact-form {
  background-color: var(--color-blue-light);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form h2 {
  font-size: 4rem;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--color-white-light);
}

form {
  width: 70%;
  background-color: var(--color-secondary);
  border-radius: 4rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.form-group {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 45%;
}

label {
  font-size: 2.2rem;
  font-weight: bold;
}

input[type="text"],
textarea {
  flex: 1;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--color-white-lighter);
  border-radius: 6px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  resize: vertical;
}

.text-area {
  width: 70%;
}

.form-group-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.form-group-btn button {
  border-radius: 5rem;
  background: var(--color-dark-blue);
  color: var(--color-white-light);
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.form-group-btn button:hover {
  background-color: var(--color-blue-light);
}

@media screen and (max-width: 900px) {
  form {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .form-group {
    width: 100%;
  }
}
/* End of contact form stylings */
